@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swiper {
  height: 100%;
}

.slidePrev-btn:hover {
  cursor: w-resize;
}

.slideNext-btn:hover {
  cursor: e-resize;
}

.swiper {
  padding-bottom: 40px !important;
}

figcaption {
  position: absolute;
  bottom: -40px;
  width: 100%;
  text-align: center;
}
