@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  white-space: pre-wrap;
}

::selection {
  background: rgba(242, 255, 0, 0.6);
  color: rgb(0, 0, 0);
}

.swiper {
  padding-bottom: 40px !important;
}

figcaption {
  position: absolute;
  bottom: -40px;
  width: 100%;
  text-align: center;
}

.container {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: lightgray;
  padding: 20px;
}

.follower {
  mix-blend-mode: difference;
  position: absolute;
  padding: 5px 10px 5px 10px;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  border-radius: 100px;
  z-index: 1000;
  transform: translate(50%, 50%);
  font-weight: 200 !important;
  font-family: Helvetica !important;
}
