@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swiper {
  height: 100%;
  cursor: none !important;
}

.swiper-slide {
  cursor: none !important;
}

figure {
  cursor: none !important;
}

img {
  cursor: none !important;
}

.slidePrev-btn:hover {
  cursor: none !important;
}

.slideNext-btn:hover {
  cursor: none !important;
}

.swiper {
  padding-bottom: 40px !important;
}

figcaption {
  position: absolute;
  bottom: -40px;
  width: 100%;
  text-align: center;
}

.container {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: lightgray;
  padding: 20px;
}

.follower {
  mix-blend-mode: difference;
  position: absolute;
  padding: 5px 10px 5px 10px;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  border-radius: 100px;
  pointer-events: none; /* This prevents the follower div from interfering with mouse events on the container */
  z-index: 1000;
  transform: translate(-50%, -50%);
}
